.selectStyle {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  width: 150px;
}

.optionColor {
  background: black;
}

.selectStyle:hover {
  border-color: black;
}

.lessMargin {
  margin-right: 150px;
}

.lesserMargin {
  margin-right: 200px;
}

@media only screen and (min-width: 300px) and (max-width: 1023px) {
  .lessMargin {
    margin-right: 0px;
    margin-bottom: 30px;
    margin-top: 50px;
  }

  .lesserMargin {
    margin-right: 0px;
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1024px) {
  .lessMargin {
    margin-right: 0px;
    margin-bottom: 30px;
    margin-top: 150px;
  }

  .lesserMargin {
    margin-right: 0px;
    margin-bottom: 80px;
    margin-top: 0px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1480px) {
  .lessMargin {
    margin-right: 0px;
    margin-bottom: 30px;
    margin-top: 50px;
  }

  .lesserMargin {
    margin-right: 0px;
    margin-bottom: 80px;
    margin-top: 0px;
  }
}
