.flex_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.flex_item_description {
  align-items: center;
  padding-top: 100px;
}

.background {
  width: 100%;
  height: calc(100vh - 56px);
  background-image: url(../../images/home.jpg);
  background-size: cover;
}

.buttonstyle {
  width: 20%;
  padding: 70px;
  border-radius: 20px;
  font-style: Helvetica;
  background-color: Transparent;
  font-weight: bold;
  color: white;
}
