@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

.flexContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flexItemDescription {
  align-items: center;
  padding-top: 150px;
}

.backgroundHome {
  height: calc(100vh - 56px);
  background-image: url(../../images/home.jpg);
  background-size: cover;
}

.buttonstyle {
  width: 500px;
  height: 400px;
  border-radius: 20px;
  font-size: 30px;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: Transparent;
  color: white;
  font-weight: bold;
}

.smaller {
  font-size: 20px;
  font-weight: normal;
}

.blue {
  background-color: rgba(0, 255, 255, 0.1);
}

.green {
  background-color: rgba(0, 255, 0, 0.1);
}

.red {
  background-color: rgba(255, 0, 0, 0.1);
}

@media only screen and (min-width: 300px) and (max-width: 799px) {
  .flexContainer {
    flex-direction: column;
  }

  .smaller {
    font-size: 15px;
  }

  .buttonstyle {
    width: 300px;
    height: 100px;
  }

  .backgroundHome {
    background-image: none;
    background-color: black;
  }

  .flexItemDescription {
    padding-top: 0px;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1024px) {
  .flexContainer {
    flex-direction: column;
  }

  .flexItemDescription {
    padding-top: 50px;
  }

  .backgroundHome {
    background-image: none;
    background-color: black;
  }

  .buttonstyle {
    width: 300px;
    height: 200px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1550px) {
  .buttonstyle {
    width: 300px;
    height: 500px;
  }
}
