.flex_container_map {
  display: flex;
  justify-content: center;
  height: 50%;
  align-items: center;
  align-content: center;

  margin-right: 800px;
}

.map_margin {
}

.loading {
  background-image: url(../../images/circleLoading.gif);
  width: 100%;
  height: 100%;
  position: relative;
  background-repeat: no-repeat;
  margin: 100px 0px 0px 12.5%;
}
